pip==25.0.1  # Mettez à jour pip à la dernière version
setuptools==70.0.0  # Ajoutez setuptools pour éviter les problèmes de compilation
wheel==0.40.0  # Ajoutez wheel pour faciliter la construction des packages
dash==2.15.0
matplotlib
numpy
pandas==1.3.0
plotly
scikit_learn
gunicorn
dash-tools

